# Home Assistant
server/ha/config/home-assistant*.db*
server/ha/config/*.log*
server/ha/config/.ha_run.lock
server/ha/config/.HA_VERSION
server/ha/config/.storage/
server/ha/config/deps/
server/ha/config/www/community/
server/ha/config/secrets.yaml
server/ha/config/custom_components/

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
.pip-cache/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Mosquitto
server/mosquitto/data/
server/mosquitto/log/

# ESPHome
esphome/.esphome/
esphome/.env
esphome/secrets.yaml

# Docker
.docker/

# Environment variables
.env